body {
    padding-top: 54px;
}

.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.image-product {
    margin: 0 auto ;
    height: 100px;
    vertical-align: middle;
    border-style: none;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
